body {
	position: relative;
}

footer {
	padding-bottom: 70px
}

.sidebar .affix {
	position: static;
}

.sidebar li {
  overflow: hidden; 
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media (min-width: 992px) {
	.sidebar .affix {
		position: fixed;
		top: 20px;
		width: 213px;
	}
}

@media (min-width: 1200px) {
	.sidebar .affix {
		width: 263px;
	}
}

.ws-content p {
	max-width: 52em;
}

.ws-content pre {
	max-width: 60em;
}

pre {
    overflow-x: auto;
}

pre code {
    overflow-wrap: normal;
    white-space: pre;
}
