<!doctype html>
<html>
<head>
{% include header.html %}
</head>
<body data-spy="scroll" data-target=".sidebar">
    {% include nav.html %}

    <div class="container-fluid">

        {% include breadcrumb.html %}

        {{ content }}

        {% include footer.html %}

    </div>

    {% raw %}
    <script id="api-template" type="text/x-handlebars-template">
        {{#each swagger.tags}}
            <h2 id="{{this.name}}">{{this.name}}</h2>

            {{#each this.operations}}
                <div class="panel panel-{{label}}">
                    <div class="panel-heading">
                        <h3 class="panel-title" id="{{id}}">
                            <span class="label label-{{label}}">{{method}}</span> {{../../swagger.basePath}}{{path}}
                        </h3>
                    </div>

                    <div class="panel-body">

                        <div class="ws-content">
                            <p style="white-space: pre-line;">{{summary}}</p>
                            <p style="white-space: pre-line;">{{description}}</p>
                        </div>

                        <div class="page-header">
                            <h4>Request</h4>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                {{#if pathParams.length}}
                                    <h5>Path parameters</h5>
                                    <table class="table table-bordered table-striped">
                                        <colgroup>
                                            <col width="30%" />
                                            <col width="70%" />
                                        </colgroup>
                                        <tbody>
                                            {{#each pathParams}}
                                                <tr>
                                                    <td><code>{{name}}</code></td>
                                                    <td>
                                                        {{type}}{{#if format}} ({{format}}){{/if}}{{#if default}}, default is {{default}}{{/if}}
                                                    </td>
                                                </tr>
                                            {{/each}}
                                        </tbody>
                                    </table>
                                {{/if}}
                                {{#if queryParams.length}}
                                    <h5>Query parameters</h5>
                                    <table class="table table-bordered table-striped">
                                        <colgroup>
                                            <col width="30%" />
                                            <col width="70%" />
                                        </colgroup>
                                        <tbody>
                                            {{#each queryParams}}
                                                <tr>
                                                    <td><code>{{name}}</code></td>
                                                    <td>
                                                        {{type}}{{#if format}} ({{format}}){{/if}}{{#if default}}, default is {{default}}{{/if}}{{#if required}} <span class="label label-default">required</span>{{/if}}<br/>
                                                        <span class="text-muted">
                                                            {{description}}{{#if enum}}{{#if description}}, {{/if}}can be {{#each enum}} <em>{{this}}</em>{{#if @last}}{{else}},{{/if}}{{/each}}.{{/if}}
                                                            {{#if x-example}}<br>example: {{x-example}}{{/if}}
                                                        </span>
                                                    </td>
                                                </tr>
                                            {{/each}}
                                        </tbody>
                                    </table>
                                {{/if}}
                                {{#each definitions}}
                                    <h5>{{@key}}</h5>

                                    <table class="table table-bordered table-striped">
                                        <colgroup>
                                            <col width="30%" />
                                            <col width="70%" />
                                        </colgroup>
                                        <tbody>
                                            {{#each properties}}
                                                <tr>
                                                    <td><code>{{@key}}</code></td>
                                                    <td>
                                                        {{type}}{{#if format}} ({{format}}){{/if}}{{#if definition}}{{definition}}{{/if}}{{#if items.definition}}[{{items.definition}}]{{/if}}{{#if pattern}} ({{pattern}}){{/if}}
                                                        {{#if required}}<span class="label label-default">required</span>{{/if}}<br/>
                                                        <span class="text-muted">{{description}}</span>
                                                    </td>
                                                </tr>
                                            {{/each}}
                                        </tbody>
                                    </table>
                                {{/each}}
                            </div>
                            <div class="col-sm-6">
                                <h5>Example request with curl</h5>

                                <pre><code>curl "{{#each ../../swagger.schemes}}{{this}}{{/each}}://{{../../swagger.host}}{{../../swagger.basePath}}{{path}}" \
  -X {{method}} \
  -H "Accept: application/json" \
  -H "Content-Type: application/json"{{#if example}} \
  -d {{example}}{{/if}}</code></pre>
                            </div>
                        </div>
                        {{#each responses}}
                            <div class="page-header">
                                <h4>Response <small>{{@key}} {{description}}</small></h4>
                            </div>

                            <div class="row">
                                <div class="col-sm-6">
                                    {{#each definitions}}
                                        <h5>{{@key}}</h5>

                                        <table class="table table-bordered table-striped">
                                            <colgroup>
                                                <col width="30%" />
                                                <col width="70%" />
                                            </colgroup>
                                            <tbody>
                                                {{#each propertiesSorted}}
                                                    <tr>
                                                        <td><code>{{#if xml.name}}{{xml.name}}{{else}}{{key}}{{/if}}</code></td>
                                                        <td>
                                                            {{type}}{{#if format}} ({{format}}){{/if}}{{#if definition}}{{definition}}{{/if}}{{#if items.definition}}[{{items.definition}}]{{/if}}{{#if pattern}} ({{pattern}}){{/if}}
                                                            {{#if required}}<span class="label label-default">required</span>{{/if}}<br/>
                                                            <span class="text-muted">{{description}}</span>
                                                        </td>
                                                    </tr>
                                                {{/each}}
                                            </tbody>
                                        </table>
                                    {{/each}}
                                </div>
                                <div class="col-sm-6">
                                    <h5>Schema</h5>

                                    {{#if example}}
                                        <pre>{{example}}</pre>
                                    {{else}}
                                        <pre><em>Empty response</em></pre>
                                    {{/if}}
                                </div>
                            </div>
                        {{/each}}
                    </div>
                </div>
            {{/each}}
        {{/each}}
    </script>
    {% endraw %}

    <script>
    var WORLDSKILLS_API_DOCS = '{{page.api_docs}}';
    </script>
    <script src="/bower_components/jquery/jquery.min.js"></script>
    <script src="/bower_components/worldskills-bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/bower_components/handlebars/handlebars.min.js"></script>
    <script src="/bower_components/handlebars/handlebars.runtime.min.js"></script>
    <script src="/assets/js/docs.js"></script>
</body>
</html>
